@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.blink-text {
    animation: blinker 1s linear infinite;
    color: red;
}

.header-container {
    display: grid;
    grid-template-columns: 8% auto auto 20%;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
    "logo titel nav infobar";
    grid-area: header;
    border-bottom: 1px solid black;
    background-color: #00ac1b;
}

.logo {
    grid-area: logo;
    margin: 5px;
    position: relative;
    left: 25px;
}

.titel {
    grid-area: titel;
    position: relative;
    text-align: left;
    left: 185px;
    top: 20px;
    flex-wrap: wrap;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

.nav {
    grid-area: nav;
    position: absolute;
    top: 90px;
    left: 315px;
    flex-wrap: wrap;
    /* Oder 'flex-start' für keine Zwischenräume */
    /* Zentriert die Buttons vertikal, falls sie unterschiedliche Höhen haben */
    /* Ermöglicht das Umfließen auf die nächste Zeile, falls der Bildschirm zu schmal wird */
}


.infobar {
    border-block: #007bff;
    padding: 2px 2px 2px 2px;
    grid-area: infobar;
    position: relative;
    flex-wrap: wrap;
    right: 35px;

}

.appname {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;

}

.dbstatus {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;

}

.activeuser {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 2px;
}

.datetime {
    font-size: 15px;
    font-weight: bold;
    color: #2963e8;
    text-shadow: 2px 2px 4px #cccccc;
    margin-bottom: 2px;
}


.buttons {
    grid-area: buttons;
    position: absolute;
    top: 105px;

}

.textarea {
    grid-area: textarea;
}

.footer {
    grid-area: footer;
    border-top: 1px solid black;
}