.mitgliedermenu {
    background-color: #00ac1b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

.mitgliedermenu .div {
    background-color: #00ac1b;
    height: 830px;
    position: relative;
    width: 1680px;


}

.mitgliedermenu .left-sidebar-title {
    background-color: #00ac1b;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 220px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;

}
.mitgliedermenu .left-sidebar-title-text {
    position: relative;
    top: 4px;
    font-size: 22px;
}
.mitgliedermenu .left-sidebar {
    background-color: #00ac1b;
    height: 790px;
    left: 0;
    position: absolute;
    top: 40px;
    width: 220px;
    border-right: 1px solid black;
}

.mitgliedermenu .left-sidebar-button {
    position: absolute;
    top: 20px;
    width: 218px;
    text-align: center;
}
.homepage-img2 {
    background-color: transparent;
    background-image: url("/src/assets/Logo_HF_Mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 100px;
    opacity: 0.1;

}
