.mitgliedersuche {
    background-color: #00ac1b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.mitgliedersuche .div {
    background-color: #00ac1b;
    height: 600px;
    position: relative;
    width: 1600px;
}
.mitgliedersuche .homepage-img3 {
    background-color: transparent;
    background-image: url("/src/assets/Logo_HF_Mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
}
.mitgliedersuche .left-sidebar-title {
    background-color: #00ac1b;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 220px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}
.mitgliedersuche .left-sidebar-title-text {
    position: relative;
    top: 4px;
    font-size: 22px;
}
.mitgliedersuche .right-sidebar-title {
    background-color: #00ac1b;
    height: 40px;
    left: 1380px;
    position: absolute;
    top: 0;
    width: 220px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}
.mitgliedersuche .right-sidebar-title-text {
    position: relative;
    top: 4px;
    font-size: 22px;
}
.mitgliedersuche .main-list-title {
    background-color: #00ac1b;
    height: 40px;
    left: 220px;
    position: absolute;
    top: 0;
    width: 1160px;
    border-bottom: 1px solid black;
}
.mitgliedersuche .main-list-title-text {
    position: relative;
    top: 4px;
    font-size: 22px;
    text-align: center;
}
.mitgliedersuche .left-sidebar {
    background-color: #00ac1b;
    height: 560px;
    left: 0;
    position: absolute;
    top: 40px;
    width: 220px;
    border-right: 1px solid black;
}
.mitgliedersuche .left-sidebar-button {
    position: absolute;
    top: 20px;
    width: 218px;
    text-align: center;
}
.mitgliedersuche .right-sidebar {
    display: inline-grid;
    background-color: #00ac1b;
    height: 560px;
    left: 1380px;
    position: absolute;
    top: 40px;
    width: 220px;
    border-left: 1px solid black;
}
.mitgliedersuche .right-sidebar .suchergebnisse-liste {
    position: relative;
    top: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.mitgliedersuche .overlap-group {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
.mitgliedersuche .main-list {
    display: flex;
    max-width: 1160px;
    max-height: 180px;
    margin: auto;
    position: relative;
    top: 50px;
    left: 30px;
}
.mitgliedersuche .main-list .mitgliedersuche-formular {
    position: relative;
    top: 4px;
}
.mitgliedersuche .form-control {
    position: relative; /* Oder 'absolute', 'fixed', 'sticky' */
    top: 470px; /* Verschiebt den Button nach unten */
    left: 240px; /* Verschiebt den Button nach rechts */
    width: 250px; /* Individuelle Breite */
    height: 40px; /* Individuelle Höhe */
}
.mitgliedersuche .volltextsuche {
    position: relative; /* Oder 'absolute', 'fixed', 'sticky' */
    top: 470px; /* Verschiebt den Button nach unten */
    left: 240px; /* Verschiebt den Button nach rechts */
    width: 250px; /* Individuelle Breite */
    height: 30px; /* Individuelle Höhe */
    text-align: left;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.mitgliedersuche .main-list-show {
    height: 180px;
    margin-left: 220px;
    border-bottom: 1px solid black
}
/* Individuelle Positionierung und Größe */
.btn-custom-position-suchen {
    position: relative; /* Oder 'absolute', 'fixed', 'sticky' */
    top: 425px; /* Verschiebt den Button nach unten */
    left: 500px; /* Verschiebt den Button nach rechts */
    width: 150px; /* Individuelle Breite */
    height: 40px; /* Individuelle Höhe */
    vertical-align: baseline;
    text-align: center;
}
/* Spezifischer Stil für den 'Anlegen'-Button */
.btn-primary-suchen {

    font-size: 16px; /* Schriftgröße */
    border-radius: 5px; /* Abgerundete Ecken */
    cursor: pointer; /* Cursor als Zeiger */
    transition: all 0.3s ease; /* Weiche Übergänge für alle Änderungen */
    display: inline-block; /* Ermöglicht die Positionierung */
    margin: 5px; /* Standardabstand um den Button */
    background-color: #007bff; /* Primäre Button-Farbe, blau */
    color: white; /* Textfarbe */
    border: none; /* Keine Ränder */
}

.btn-primary-suchen:hover {
    background-color: #0056b3; /* Dunklere Blaufarbe beim Hover */
}

.btn-primary-suchen:active {
    background-color: #004085; /* Noch dunklere Blaufarbe beim aktiven Klicken */
}

.btn-primary-suchen:focus {
    outline: none; /* Kein Outline bei Fokussierung */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Fügt einen Schatten hinzu */
}

.btn-primary-suchen:disabled {
    opacity: 0.65; /* Macht den Button durchscheinend */
    cursor: not-allowed; /* Ändert den Cursor zu einem "nicht erlaubt" Zeichen */
}
