.mitgliederverwaltung {  display: grid;
    grid-template-columns: 13% auto;
    grid-template-rows: 0.1fr 1.9fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "sidetitle main"
    "sidemenu main";
    background-color: #00ac1b;
}

.main {
    grid-area: main;

}

.sidetitle {
    grid-area: sidetitle;
    border-right: 1px solid black;
    text-align: center;
}
.sidetitle-text {
    position: relative;
    top: 10px;
    font-size: 20px;

}
.sidemenu {
    grid-area: sidemenu;

}